CompileFlags:           # Tweak the parse settings
  Add: [-Wall]          # treat all files as C++, enable more warnings
  CompilationDatabase: ./build/
Completion:
  HeaderInsertion: Never 
Diagnostics:
  Includes:
    IgnoreHeader: .*\.inl

